.resDetailBox{
    width: 100%;
    min-height: 380px;
    padding: 40px 0 80px;
    background-color: #F5F5F5;
    .detailHead{
        width: 1200px;
        height: 14px;
        margin: 0 auto;
        font-size: 14px;        
        line-height: 14px;
        span{
            float: left;
            color: #999999;
        }
        a{
            float: left;
            color: #209EEA;
            margin-left: 600px;
        }
        a:hover{
            color: #38B4FF;
        }
    }
    .detailContent{
        width: 1200px;
        margin: 13px auto 0;
        padding:0 5px 5px;
        overflow: hidden;
        .detailContent_left{
            width: 800px;
            float: left;
            .detailContent_left_up{
                width: 800px;
                height: 480px;
                background-color: gray;
                box-shadow: 3px 3px 5px gray;
                .detailContent_left_up_play{
                    width: 800px;
                    height: 480px;
                    iframe{
                        width: 795px;
                        height: 475px;
                    }
                }
            }
            .detailContent_left_down{
                width: 800px;
                min-height: 283px;
                background-color: #FFFFFF;
                margin-top: 40px;
                box-shadow: 3px 3px 5px #DDDDDD;
                .detailContent_left_down_head{
                    width: 800px;
                    height: 75px;
                    .detailContent_left_down_head_introduce,
                    .detailContent_left_down_head_comment{
                        width: 135px;
                        height: 75px;
                        font-size: 16px;
                        color: rgb(51, 51, 51); 
                        text-align: center;
                        line-height: 75px;
                        float: left;
                        cursor: pointer;
                    }
                    .active{
                        color: #209EEA;
                    }
                    .detailContent_left_down_head_introduce:hover,
                    .detailContent_left_down_head_comment:hover{
                        color: #209EEA;
                    }
                    .detailContent_left_down_head_type{
                        width: 124px;
                        height: 20px;
                        float: right;
                        margin: 26px 66px 0 0;
                        span{
                            font-size: 14px;
                            color: #999999;
                            line-height: 20px;
                            float: left;
                        }
                        input{
                            width: 14px;
                            height: 14px;
                            margin: 4px 4px 0 16px; 
                            float: left;
                            cursor: pointer;
                        }
                    }
                }
                .detailContent_left_down_introduceCon{
                    width: 800px;
                    .resMain{
                        width: 800px;
                        .resMain_explain{
                            width: 135px;
                            height: 50px;
                            font-size: 16px;
                            color: rgb(51, 51, 51); 
                            text-align: center;
                            line-height: 50px;
                        }
                        .resMain_explain_con{
                            width: 675px;
                            height: 35px;
                            margin-left: 70px;
                            p{
                                height: 35px;
                                font-size: 14px;
                                color: #999999;
                                line-height: 35px;
                                float: left;
                            }
                            .resMain_explain_con_title{
                                width: 418px;
                                color: #666666;                                
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                            .resMain_explain_con_download{
                                width: 100px;
                                margin-left: 20px;
                                background: url("/images/resource/down.png") no-repeat 70px 6px;
                                cursor: pointer; 
                            }
                            .resMain_explain_con_collect{
                                width: 100px;
                                margin-left: 28px;
                                cursor: pointer; 
                            }
                            .havea{
                               background: url("/images/resource/havea.png") no-repeat 70px 8px; 
                            }
                            .haveb{
                               background: url("/images/resource/haveb.png") no-repeat 70px 8px; 
                            }
                            .resMain_explain_con_download:hover,
                            .resMain_explain_con_collect:hover{
                                color: #209EEA;
                            }
                            .resMain_explain_con_subject{
                                margin-left: 8px;
                            }
                            .resMain_explain_con_size{
                                margin-left: 40px;
                            }
                            .resMain_explain_con_time{
                                margin-left: 40px;
                            }
                            .resMain_explain_con_uploader{
                                width: 160px;
                                margin-left: 40px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;                               
                            }
                            .resMain_explain_con_downloadNum{
                                margin-left: 50px;
                            }
                            .resMain_explain_con_collectNum{
                                margin-left: 50px
                            }
                        }
                        .resMain_describe{
                            width: 135px;
                            height: 50px;
                            font-size: 16px;
                            color: rgb(51, 51, 51); 
                            text-align: center;
                            line-height: 50px; 
                            margin-top: 20px;                            
                        }
                        .resMain_describe_con{
                            width: 675px;
                            margin-left: 70px;
                            font-size: 14px;
                            color: #666666;
                            line-height: 25px;
                            letter-spacing: 1px;
                            padding-bottom: 40px;
                        }
                    }                                       
                }
                .detailContent_left_down_commentCon{
                    width: 800px;
                    .detailContent_left_down_commentCon_do{
                        width: 725px;
                        height: 200px;
                        margin: 0 auto;
                        textarea{
                            width: 693px;
                            height: 135px;
                            font-size: 14px;
                            color: #666666;
                            line-height: 20px;
                            background-color: rgb(245,245,245);
                            padding: 5px 10px;
                            resize: vertical;
                            border: 0;
                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            border-radius: 4px;
                        }
                        p{
                            width: 120px;
                            height: 30px;
                            font-size: 14px;
                            color: #FFFFFF;
                            text-align: center;
                            line-height: 30px;
                            background-color: #209EEA;
                            float: right;
                            margin-top: 20px;
                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            border-radius: 4px;
                            cursor: pointer;
                        }
                    }
                    .detailContent_left_down_commentCon_list{
                        width: 725px;
                        margin: 20px auto 0;
                        .resComment_no{
                            width: 725px;
                            height: 200px;
                            font-size: 16px;
                            color: #666666;
                            text-align: center;
                            line-height: 200px;
                        }
                    }
                }                  
            }
        }
        .detailContent_right{
            width: 360px;
            min-height: 600px;
            float: right;
            background-color: #FFFFFF;
            box-shadow: 3px 3px 5px #DDDDDD;
            .detailContent_right_head{
                width: 360px;
                height: 50px;                
                font-size: 16px;
                color: rgb(51,51,51);
                line-height: 50px;
                text-indent: 40px;
            }
            .detailContent_right_con{
                width: 360px;
                padding-bottom: 30px;
                .resBox{
                    width: 280px;
                    height: 63px;
                    margin: 20px 0 0 40px;
                    position: relative;
                    .resBox_sideLine{
                        width: 4px;
                        height: 58px;
                        background-color: #209EEA;
                        position: absolute;
                        top: 2px;
                        left: -40px;
                        display: none;
                    }
                    &:hover .resBox_sideLine{
                        display: block;
                    }
                    .resBox_img{
                        width: 84px;
                        height: 63px;
                        float: left;
                        img{
                            width: 84px;
                            height: 63px; 
                        }
                    }
                    .resBox_con{
                        width: 165px;
                        height: 63px;
                        float: right;
                        .resBox_con_title{
                            display: block;
                            width: 165px;
                            height: 31px;
                            color: rgb(51,51,51);
                            font-size: 14px;
                            line-height: 31px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            cursor: pointer; 
                        }
                        .resBox_con_title:hover{
                            color: #209EEA;
                        }
                        .resBox_con_time{
                            width: 165px;
                            height: 31px;
                            color: #999999;
                            font-size: 12px;
                            line-height: 31px;
                        }
                    }
                }
                .noResource{
                    width: 360px;
                    height: 400px;
                    font-size: 16px;
                    color: #666666;
                    text-align: center;
                    line-height: 400px;
                }
            } 
        }
    }
    
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
}
