.headBg{
    width:100%;
    height:85px;
    position: fixed;
    z-index: 1000;
    background: #ffffff;
    border-bottom:3px solid #DCDCDC;
    box-shadow: 5px 3px 5px #DCDCDC;
    .head{    
        width: 1200px;
        height: 85px;
        margin: 0 auto;    
        .head_logo{
            width:180px;
            height:85px;
            float: left;
            margin-right:30px;
            img{
                width:180px;
                margin-top:14px;
            }
        }    
        ul{
            float: left;
            width: 650px;
            height: 85px;
            li{
                float: left;
                width: 130px;
                height: 85px;
                a{
                    display: block;
                    width: 130px;
                    height: 85px;
                    font-size: 16px;
                    color: #333333;                   
                    text-align: center;
                    line-height: 85px;
                    position: relative;
                    span{
                        display: block;
                        width: 80px;
                        height: 4px;
                        position: absolute;
                        left: 25px;
                        bottom: 5px;
                    }
                    &.active{
                        color:#209EEA;
                    }
                    &.active span{
                        background-color: #209EEA;
                    }
                }
                a:hover{
                    background-color: #F5F5F5;
                }
            } 
        }
        .touxiangBox{
            float: right;
            width: 60px;
            height: 60px; 
            margin-top:14px;
            border: 2px solid #E5E5E5;
            border-radius:50%;
            -moz-border-radius:50%;
            -webkit-border-radius:50%; 
            overflow: hidden;          
            img{
                width:60px;
                height:60px;
                border-radius:50%;
                -moz-border-radius:50%;
                -webkit-border-radius:50%;
                cursor: pointer;
            }
        }    
    }
}

.contentBox{
    width: 100%;
    padding-top: 85px;
}

.footBox{
    width:100%;
    height:225px;
    background:#363f4d;
    .foot{
        width:1200px;
        height:225px;
        margin: 0 auto;
        .foot_left{
            width:520px;
            height:225px;
            float: left;
            .foot_left_img{
                width:100%;
                height:55px;
                margin-top: 20px;
                img{
                    height: 40px;
                }
            }
            .foot_left_name{
                width:100%;
                height:40px;
                line-height: 40px;
                font-size: 18px;
                color:#ffffff;
            }
            .foot_left_copyright{
                width:100%;
                height:35px;
                line-height: 35px;
                font-size: 14px;
                color:#ffffff;
            }
            .foot_left_explain{
                width:100%;
                height:35px;
                line-height: 35px;
                font-size: 14px;
                color:#ffffff;
            }
        }
        .foot_middle{
            width:385px;
            height:225px;
            float: left;
            margin-left: 80px;
            .foot_middle_title{
                width:385px;
                height:20px;
                color:#ffffff;
                font-size:18px;
                text-indent:25px;
                margin-top: 40px;
            }
            .foot_middle_link{
                width: 168px;
                height: 90px;
                margin-top: 20px;
                a{  float: left;
                    height:30px;
                    color:#ffffff;
                    font-size:14px;
                    line-height:30px;
                    margin-left: 25px;
                }
            }
        }
        .foot_right{
            width: 95px;
            height:225px;
            float: right;
            margin-right: 15px;
            .foot_right_title{
                width: 100%;
                height:20px;
                font-size: 18px;
                color:#ffffff;
                margin-top: 40px;
            }
            .foot_right_weima{
                width:88px;
                height:88px;
                margin-top: 30px;
            }
        }
    }
}
